@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}

body{
    background-color: #000000;
}
.body {
	background: linear-gradient(90deg, #000000, #d12f2f);	
    height: 1200px;	
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #ff0000, #afafaf);		
	position: relative;	
	height: 850px;
	width: 360px;	
	box-shadow: 0px 0px 24px #da9037;
    margin-top: 30px;
}

.screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
    
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
	position: absolute;
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #ffffff;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #ff0000;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #ffffff, #ed1404);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: linear-gradient(270deg, #ff0000, #ffffff);	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.login {
	width: 320px;
	padding: 30px;
	padding-top: 56px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #ff0000;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #ff0000;
	box-shadow: 0px 2px 6px #ff0000;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #ff0000;
	outline: none;
}


.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #ff0000;
}

.social-login {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 0px;
	right: 0px;
	color: #ffffff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #ff0000;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}
/* my style */
.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: sticky;
    top: 0px;
    background-color: black;
    z-index: 1;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: sticky;
    top: 0px;
    background-color: black;
    z-index: 3;
}
.button {
    display: flex;
    flex-direction: row;
   

}
.bt1{
    height: 35px;
    width: 95px;
    margin: 10px;
    border-radius: 30px;
    border: solid silver 4px;
    font-size: large;
}
.logo{
    display: flex;
    flex-direction: row;
}

.logo1{
    height:65px;
    width: 65px;
    display: flex;
    justify-content: right;
 
}
.name{
    height:65px;
    width: 180px;
    display: flex;
    justify-content: right;
    filter: drop-shadow(0px 0px 8px red) invert(75%);
    animation:glow 3s alternate infinite ;
    
}
@keyframes glow{
    0%{
        filter: drop-shadow(0px 0px 8px rgb(0, 30, 255))invert();
    }
    20%{
        filter: drop-shadow(0px 0px 8px rgb(179, 0, 255))invert() ;
    }
    40%{
        filter: drop-shadow(0px 0px 8px rgb(255, 183, 0))invert() ;
    }
    60%{
        filter: drop-shadow(0px 0px 8px rgb(255, 0, 162))invert() ;
    }
    80%{
        filter: drop-shadow(0px 0px 8px rgb(255, 0, 0)) invert();
    }
    10%{
        filter: drop-shadow(0px 0px 8px rgb(0, 255, 17))invert() ;
    }
    0%{
        filter: drop-shadow(0px 0px 8px rgb(0, 221, 255))invert() ;
    }
}
.name img{
    height:65px;
    width: 95px;
}
.search{
    margin: 10px;
}
.search img{
    filter: invert();
}
.search input{
    height: 35px;
    width: 250px;
    border-radius: 30px;
    text-align: center;
    border: solid silver 4px;
    font-size: 15px;
}
.nav::placeholder{
    color: black;
    font-size: 20px;
}
.bt1 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgb(199, 10, 10) 0%, rgb(252, 250, 250) 100%);
  }
  .bt1:hover {
    color: #ff0000;
    background: transparent;
     box-shadow:none;
  }
  .bt1:before,
  .bt1:after{
    
    background: #00fffc;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px rgb(255, 255, 255),
     4px 4px 5px 0px rgb(252, 0, 0);
    transition:400ms ease all;
  }
  .bt1:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .bt1:hover:before,
  .bt1:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  .custom-btn {
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgb(0, 0, 0),
     4px 4px 5px 0px rgb(255, 0, 0);
    outline: none;
  }
  .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    background-color: #000000;
}
.footer div{
    width: 25%;
    align-items: center;
    justify-content: right;
    margin-bottom: 50px;
}
.footer li{
    margin: 10px;
    list-style: none;
    color: white;
}
.footer u{
    color: #ff0000;
}



.button a{
    text-decoration: none;
    color: white;
    font-weight: 2px;
}

.radio{
    display: flex;
    justify-content: flex-start;
    
       
}
.redio_btn{
    margin-right: 20px;
}
.radio p{
font-size: 18px;

}


select{
    width: 195px;
    height: 29px;
    border: 2px ;
    border-radius: 8px;
}
select:active,
select:focus,
select:hover {
	border-color: 2px #ff0000;
   
    width: 195px;
    height: 29px;
    
    border-radius: 8px;
}
